@import "~jspsych/css/jspsych.css";
// @import 'piktogram';


img {
  max-width: 100%;
  max-height: 100%;
}

video {
  max-height: 300px;
  pointer-events: none;
}

// .jspsych-display-element {
//   background-color: #ffffff;
// }

.language-selection {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  // gap: 60px;

  > div {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    span {
      font-size: 100px;
    }

    div {
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0;
  // pointer-events: none;
  transition: opacity 0s;
}

* {
  transition: opacity .4s ease;
}

.text-with-input {
  #mental-image-response {
    text-align: center;
  }
}

.text-with-thumbnails {
  img {
    width: 70px;
    margin: auto 5px;
  }
}

.slider-with-stimulus,
.buttons-with-stimulus,
.slider-with-stimulus-and-prompt {
  width: 600px;

  img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
  }
}

.jspsych-btn {
  @media only screen and (max-width: 1000px) {
    padding: 12px 24px !important;
    font-size: 18px;
  }
}

#jspsych-html-slider-response-wrapper {
  margin-bottom: 30px !important;
}

.image-with-count {
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 100%;
    text-align: right;
    font-family: inherit;
    width: 40px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
  }

  #jspsych-survey-html-form-next {
    margin-top: 20px;
  }
} 

.buttons-with-stimulus {
  img {
    margin-bottom: 30px;
  }
}

.slider-with-stimulus-and-prompt {
  display: grid;
  grid-auto-rows: auto;

  .prompt {
    grid-row-start: 1;
  }

  #jspsych-html-slider-response-wrapper {
    margin-top: 0 !important;
    margin-bottom: 30px !important;

    img {
      margin-bottom: 30px;
    }
  }

  .jspsych-html-slider-response-container div span {
    line-height: 140%;
  
    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
}

.showcase {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(25, auto);
  place-items: center;
  place-content: center;
  gap: 30px;
  padding: 30px 0 50px;
  width: 100%;

  .prompt {
    grid-column: 1 / 11;
  }

  .stimulus {
    display: none;
  }

  .answer-options {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 11;
    grid-row: 2 / 26;
  }
}

.select-the-imposter.three-options {
  min-width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  place-items: center;
  place-content: center;
  column-gap: 60px;

  .prompt {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .stimulus {
    display: none;
  }
  
  .answer-options {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
}

.jspsych-img-choice {
  transition: opacity .2s;
  cursor: pointer;

  &:has(~ .responded),
  &.responded ~ * {
    opacity: 0.4;
  }
}

.stimulus.two-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  place-items: center;
  place-content: center;
  column-gap: 60px;

  p {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.prototypicality-free-sort {
  img {
    transition: transform .3s;
  }
}

.choice-with-stimulus {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  place-items: center;
  place-content: center;
  // align-content: space-around;
  margin: 20px auto;

  &.nine-options {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, auto);

    .stimulus {
      grid-column-end: 4;
      grid-row-end: 4;
    }
  
    .prompt {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-end: 4;
    }
  
    .answer-options {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-end: 4;
    }
  }

  &.four-options {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);

    .stimulus {
      grid-column-end: 3;
      grid-row-end: 3;
    }
  
    .prompt {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-end: 3;
    }
  
    .answer-options {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-end: 3;
    }
  }

  &.one-option {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    > img {
      max-width: 100%;
      max-height: 100%;
      grid-column-start: 1;
      grid-row-start: 2;
      grid-column-end: 2;
      grid-row-end: 3;
    }
  
    .prompt {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-end: 2;
    }
  
    .fraction {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    img {
      max-height: 400px;
    }
  }

  .stimulus {
    max-width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .prompt {
    margin: 20px;
    grid-row-start: 1;
  }

  .answer-options {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
}
