@import "~jspsych/css/jspsych.css";
// @import 'piktogram';


img {
  max-width: 100%;
  max-height: 100%;
}

// .jspsych-display-element {
//   background-color: #ffffff;
// }

.language-selection {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  // gap: 60px;

  > div {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    span {
      font-size: 100px;
    }

    div {
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0;
  // pointer-events: none;
  transition: opacity 0s;
}

* {
  transition: opacity .4s ease;
}

.text-with-input {
  #mental-image-response {
    text-align: center;
  }
}

.text-with-thumbnails {
  img {
    width: 70px;
    margin: auto 5px;
  }
}

.slider-with-stimulus,
.buttons-with-stimulus,
.recognition-trial,
.slider-with-stimulus-and-prompt {
  width: 600px;

  img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
  }
}

.recognition-trial {
  display: grid;
  grid-auto-rows: auto;

  .jspsych-html-button-response-prompt {
    grid-row-start: 1;
  }

  img {
    max-height: 600px;
  }
}

.jspsych-btn {
  margin-bottom: 20px;
  font-size: 16px;
  
  @media only screen and (max-width: 1000px) {
    padding: 12px 24px !important;
    font-size: 18px;
  }
}

#jspsych-html-slider-response-wrapper {
  margin-bottom: 30px !important;
}

.image-with-count {
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 100%;
    text-align: right;
    font-family: inherit;
    width: 40px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
  }

  #jspsych-survey-html-form-next {
    margin-top: 20px;
  }
} 

.buttons-with-stimulus {
  img {
    margin-bottom: 30px;
  }
}

.slider-with-stimulus-and-prompt {
  display: grid;
  grid-auto-rows: auto;

  .prompt {
    grid-row-start: 1;
  }

  #jspsych-html-slider-response-wrapper {
    margin-top: 0 !important;
    margin-bottom: 30px !important;

    img {
      margin-bottom: 30px;
    }
  }

  .jspsych-html-slider-response-container div span {
    line-height: 140%;
  
    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
}

.showcase {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(25, auto);
  place-items: center;
  place-content: center;
  gap: 30px;
  padding: 30px 0 50px;
  width: 100%;

  .prompt {
    grid-column: 1 / 11;
  }

  .stimulus {
    display: none;
  }

  .answer-options {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 11;
    grid-row: 2 / 26;
  }
}

.select-the-imposter {
  min-width: 60%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  place-content: center;
  column-gap: 60px;

  &.two-options {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-options {
    grid-template-columns: repeat(3, 1fr);
  }

  .prompt {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .stimulus {
    display: none;
  }
  
  .answer-options,
  .stimuli {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
}

.jspsych-img-choice {
  transition: opacity .2s;
  cursor: pointer;

  &:has(~ .responded),
  &.responded ~ * {
    opacity: 0.4;
  }
}

.select-the-imposter .stimuli img {
  transition: opacity .4s;

  &:has(~ .responded),
  &.responded ~ * {
    opacity: 0.1;
  }
}

.stimulus.two-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  place-items: center;
  place-content: center;
  column-gap: 60px;

  p {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.prototypicality-free-sort {
  .answer-options {
    margin-top: 0px;
    // padding-top: 65px;

    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(3, 100px);
    place-items: center;
    place-content: center;
    gap: 30px;
  }

  .plain-draggable {
    height: 50px;
    width: 50px;

    &.plain-draggable-dragging {
      img {
        transform: scale(6);
      }
    }

    &:not([data-correctly-placed="true"]):not(.plain-draggable-dragging) {
      img {
        transform: scale(2);
      }
    }

    img {
      transition: transform .2s;
    }
  }

  .prompt,
  .arrow {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .arrow {
    height: 30px;
    width: 100%;
    background: rgb(204,17,17);
    background: linear-gradient(90deg, rgba(204,17,17,1) 0%, rgba(204,204,17,1) 50%, rgba(17,204,17,1) 100%);
    position: relative;

    .label {
      position: absolute;
      color: white;
      font-weight: bold;
      height: 100%;
      margin: 0;
      line-height: 30px;

      &.left {
        left: 10px;  
      }

      &.right {
        right: 10px;  
      }
    }

    &:before,
    &:after {
      display: block;
      content: "";
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    &:before {
      left: -10px;
      border-right: 10px solid rgba(204,17,17,1);
    }

    &:after {
      right: -10px;
      border-left: 10px solid rgba(17,204,17,1);
    }
  }
}

.choice-with-stimulus {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  place-items: center;
  place-content: center;
  // align-content: space-around;
  margin: 20px auto;

  &.nine-options {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, auto);

    .stimulus {
      grid-column-end: 4;
      grid-row-end: 4;
    }
  
    .prompt {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-end: 4;
    }
  
    .answer-options {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-end: 4;
    }
  }

  &.four-options {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);

    .stimulus {
      grid-column-end: 3;
      grid-row-end: 3;
    }
  
    .prompt {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-end: 3;
    }
  
    .answer-options {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-end: 3;
    }
  }

  &.one-option {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    > img {
      max-width: 100%;
      max-height: 100%;
      grid-column-start: 1;
      grid-row-start: 2;
      grid-column-end: 1;
      grid-row-end: 2;
    }
  
    .prompt {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-end: 2;
    }
  
    .fraction {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    img {
      max-height: 400px;
    }
  }

  .stimulus {
    max-width: 100%;
    max-height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .prompt {
    margin: 20px;
    grid-row-start: 1;
  }

  .answer-options {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
}

input,
select,
option {
  font-size: 16px;
  font-family: inherit;
}

.background-survey {
  text-align: left;
}

img.screendump {
  max-width: 600px;
  border: 1px #ccc solid;
  border-radius: 4px;
  box-shadow: 0 2px 8px -4px black;
}